<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <arg name="robot_name"/>
    <arg name="init_pose" />
     
     <!-- node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" output="screen" args="-urdf -x $(arg x) -y $(arg y) -z $(arg z) -model $(arg robot_name) -param /robot_description"/-->

     <node name="spawn_gazebo_model" pkg="gazebo_ros" type="spawn_model" args="$(arg init_pose) -urdf -param /robot_description -model $(arg robot_name)" output="screen" />
     
     <!--node pkg="robot_state_publisher" type="state_publisher" name="robot_state_publisher" output="screen"/-->
     
      	<!-- Load controllers -->
   
 

</launch>


